.modalBody {
    height: 100%;
    display: grid;

    .markdownContainer {
        display: inline-block;
        width: 100%;
        h1 {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }

        .largeImage {
            width: 80%;
            height: 80%;
        }

        p {
            text-align: center;
            img {
                width: 50%;
                height: 50%;
            }
        }
        img {
            width: 50%;
            height: 50%;
        }

        section.big-container {
            display: grid;
            grid-template-rows: auto 660px;
            p {
                grid-column: 1;
                grid-row: 1;
            }
            .big-img-container {
                display: flex;
                justify-content: center;
                .big {
                    grid-column: 1;
                    grid-row: 2;
                    width: 80%;
                    height: 80%;
                }
            }
        }

        section.side-container {
            display: grid;
            grid-template-rows: 660px;
            grid-template-columns: 70% 30%;
            .side-img-container {
                img {
                    height: 90%;
                    width: 90%;
                }
            }
        }

        section.triple-container {
            display: grid;
            grid-template-rows: 440px auto;
            grid-template-columns: 1fr 1fr 1fr;

            .triple-img-container {
                display: flex;
                justify-content: space-between;
            }
            .triple-text-container {
                grid-column: 1 / 3;
            }
        }
    }
}

.hide {
    display: none;
}

