.pin {
    height: 30px;
    width: 60px;
	position: relative;
	display: inline-block;
	text-align: center;
	background: #960300;
	border: 4px solid #E82C0C;
	border-radius: 7px;
	top: -15px;
	left: -15px;	
}